<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Online Auction 2017</p>
            </div>
        </div>
    </footer>
</div>