<div class="thumbnail">
    <img src="http://placehold.it/320x150">
    <div class="caption">
        <h4 class="pull-right">{{ product.price | currency}}</h4>
        <h4><a [routerLink]="['/product', product.title]">{{product.title}}</a></h4>
        <p>{{ product.description }}</p>
    </div>
    <div class="ratings">
        <auction-stars [rating]="product.rating"></auction-stars>
    </div>
</div>

