<div class="row carousel-holder">
    <div class="col-md-12">
        <auction-carousel></auction-carousel>
    </div>
</div>
<div class="row">
    <div *ngFor="let product of products" class="col-sm-4 col-lg-4 col-md-4">
        <auction-product-item [product]="product"></auction-product-item>
    </div>
</div>